<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            line-height: 1.6;
        }
        .container {
            width: 80%;
            margin: auto;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header, .footer {
            text-align: center;
            background-color: #f8f8f8;
            padding: 10px 0;
        }
        .content {
            padding: 20px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
        }
        .button-approve {
            background-color: #4CAF50;
        }
        .button-deny {
            background-color: #f44336;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Access Request for Pulsopus</h2>
    </div>
    <div class="content">
        <p>Hi {{adminName}},</p>
        <p>Just a heads-up: {{userName}} is requesting access or initiation for Pulsopus. You can grant them access or kickstart the process using the following link:</p>
        <p><a href="{{loginLink}}">Login Link to Pulsopus</a></p>
        <p>Cheers,<br>Pulsopus Team</p>
        <p>
            <a href="{{approveLink}}" class="button button-approve">Approve</a>
            <a href="{{denyLink}}" class="button button-deny">Deny</a>
        </p>
    </div>
</div>
</body>
</html>
